@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a asp-page="/fileupload">Go to File Upload</a>
</div>

<div>
    <a asp-page="/reports">Go to Reports</a>
</div>

<div>
    <a asp-page="/charts">Go to Charts</a>
</div>


